# Byte-compiled files
__pycache__/
*.py[cod]


# Distribution / packaging
.Python
git-ignored/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST


# win/mac stuff
.DS_Store


# backup files
*~
*.backup


# Documentation etc: Sphinx and ReadTheDocs
*.ipynb_checkpoints


# other stuff
.cache
.pytest_cache/
.idea/


# Spyder project settings
.spyderproject
.spyproject

# Pylint
.pylint.d

